$pill-hover : rgb(236,236,236);

.channel-pill {
  padding: 0 24px;
  cursor: pointer;
  width:192px;
  height: 40px;
  margin:auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  /*background-color:white;
  justify-content: space-between;
  */
  &__icon {
    margin-right:24px;
  }
  &__Name {
    flex:1;
    margin-right:24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &:hover{
    background-color: $pill-hover;
  }
}
.channel-pill__icon img {
  border-radius: 50%;
}
.channel-pill-draggable {
    height: 40px;
}
