.HomeContent {
  display:flex;
  flex-direction: row;
  flex-flow: nowrap;
  min-height:500px;
}

.bar__left {
  width:33%;
  background-color: lightgrey;
}
.bar__right {
  width: 67%;
}

.testshelf {
  min-height:200px;
}
.channelPill {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color:lightgrey;
}

.wrapperList {
  background-color:lightgrey;
  padding: 5px;
  margin-bottom:20px;
}

.wrapperItem {
  background-color:mistyrose;
  padding:5px;
  display:flex;
  flex-direction: row;
  max-width:300px;
}
