$whiteBkGd : #fff;

$thumbnailHeight: 118px;

.scrollContainer{
    overflow: hidden;
}
.items{
    width:642px;
    display: flex;
    flex-direction:row;
}
.tile{
    padding-right:4px;
}
.listRenderer{
    position: relative;
}
.channelsRenderer {
    //width:240px;
    margin:auto;
    position: relative;
    display:flex;
    flex-direction:row;
}
.grid-draggable__container {
    display:flex;
    flex-direction:row;
    width:100%;
    flex-wrap: wrap;
}
.rightArrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -16px;
    height: $thumbnailHeight;
    z-index: 200;
    .rightButton {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 24px;
        background-color: $whiteBkGd;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}
.leftArrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -20px;
    height: $thumbnailHeight;
    z-index: 1;
    .leftButton{
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 24px;
        background-color: $whiteBkGd;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}
.items{
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    will-change: transform;
}

/**/
@media (min-width: 500px) {
    //show 1
    $render-width : 214px;
    
    .shelf {width:$render-width};
    .items{
        width:$render-width;
    }
}
@media (min-width: 700px) {
    //show 2
    $render-width : 428px;
    
    .shelf {width:$render-width};
    .items{
        width:$render-width;
    }
}
@media (min-width: 910px) {
    //show 3
    $render-width : 642px;
    
    .shelf {width:$render-width};
    .items{
        width:$render-width;
    }
}
@media (min-width: 1120px) {
    //show 4
    $render-width : 856px;
    
    .shelf {width:$render-width};
    .items{
        width:$render-width;
    }
}
@media (min-width: 1365px) {
    //show 5
    $render-width : 1070px;
    
    .shelf {width:$render-width};
    .items{
        width:$render-width;
    }
}
/**/


/*
@media (min-width: 662px) {
    .shelf {width:642px};
    $render-width : 642px;
    
}
@media (min-width: 876px) {
    .shelf {width:856px};
    $render-width : 856px;
    .items{
        width:$render-width;
    }
}
@media (min-width: 1090px) {
    .shelf {width:1070px};
    $render-width : 1070px;
    .items{
        width:$render-width;
    }
}
@media (min-width: 1276px) {
    .shelf {width:856px};
    $render-width : 856px;
    .items{
        width:$render-width;
    }
}
@media (min-width:1390px) {
    .shelf {width:1070px};
    $render-width : 1070px;
    .items{
        width:$render-width;
    }
}
@media (min-width:1390px) {
    .shelf {width:1070px};
    $render-width : 1070px;
    .items{
        width:$render-width;
    }
}
@media (min-width:1604px) {
    .shelf {width:1284px};
    $render-width : 1284px;
    .items{
        width:$render-width;
    }
}
*/

.bookcase {
  display:flex;
  flex-direction:column;
  align-items: center;
}

.shelf:not(:last-child){
    border-bottom: 1px solid #e2e2e2;
}