.toggles {
    display:flex;
    flex-direction:row;
}

.switch {
    margin: 0 24px;
    position: relative;
	width: 4rem;
	height: 2.5rem;
	border-radius: 20%;
	transition: background-color 100ms ease-out;
	z-index: 1;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
		background-color: inherit;
		border-radius: 50%;
		width: 2.5rem;
		height: 2.5rem;
		z-index: 2;
		}
	&:before{
		left: -0.5rem}
	&:after{
        right: -0.5rem}
    &--green {
        background-color:#3DDC97;
    }
    &--red {
        background-color: #FF495C;
    }
}

.toggle-button {
    position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	background-color: #353535;
	border-radius: 50%;
	transition: transform 100ms ease-in-out;
	z-index: 3;
	border: 0.05rem solid #353535;
	top: -0.05rem;
    &--left {
        transform: translateX(2.05rem);
    }
    &--right {
        transform: translateX(-1.05rem);
    }
}