.bookcase {
    /* background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1); */
    margin: 0 auto;
}

/* Not sure what this was originally for but need to find it */
.content {
    min-height: calc(100vh - 56px - 48px - 16px);
}
@media (min-width: 662px) {
    .bookcase {width:642px}
}
@media (min-width: 876px) {
    .bookcase {width:856px}
}
@media (min-width: 1090px) {
    .bookcase {width:1070px}
}
@media (min-width: 1276px) {
    .leftPane { visibility: visible}
    .pageCont { margin-left: 240px;  }
    .bookcase {width:856px}
}
@media (min-width:1390px) {
    .bookcase {width:1070px}
}
@media (min-width:1390px) {
    .bookcase {width:1070px}
}
@media (min-width:1604px) {
    .bookcase {width:1284px}
}