.channel-header {
    background-color: rgb(250, 250, 250);
    /*height: 288px;*/
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.channel-banner {
    width:100%;
    height: calc(100vw / 6.2 - 1px);
    background-color: grey;
}
.channel-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

@keyframes channel-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

.channel-title {
    font-size: 1.5em;
}
.channel-info {
    height:134px;
}